:host {
  padding: 2rem;
  overflow: hidden;
}

cdk-virtual-scroll-viewport {
  height: calc(100vh - 4rem);
  width: 720px;
  margin: 0 auto;

  /* total width */
  &::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display:none;
  }
}
